<a href="https://colab.research.google.com/github/kms06010615-spec/2025.-/blob/main/3%EC%9E%A5%EC%A7%91%ED%95%A90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
s1=set([1,2,3])
print(s1)
s2=set([2,3,4])
print(s2)

print(s1&s2)
print(s1 | s2)
print(s1 - s2)

{1, 2, 3}
{2, 3, 4}
{2, 3}
{1, 2, 3, 4}
{1}

In [3]:
bankA_customers = set(["김흥수","이영희","박믾수","최지우"])
bankB_customers = set(["이영희","최지우","정우성","한지민"])

print("은행 A 고객", bankA_customers)
print("은행 B 고객", bankB_customers)

total_customers = bankA_customers | bankB_customers
print("합병 후 전체 고객:", total_customers)

common_customers = bankA_customers & bankB_customers
print("공통 고객:", common_customers)

only_A_customers = bankA_customers - bankB_customers
print("A은행에만 있는 고객:", only_A_customers)

only_B_customers = bankB_customers - bankA_customers
print("B은행에만 있는 고객:", only_A_customers)

은행 A 고객 {'최지우', '김흥수', '이영희', '박믾수'}
은행 B 고객 {'정우성', '최지우', '이영희', '한지민'}
합병 후 전체 고객: {'정우성', '이영희', '박믾수', '최지우', '김흥수', '한지민'}
공통 고객: {'최지우', '이영희'}
A은행에만 있는 고객: {'김흥수', '박믾수'}
B은행에만 있는 고객: {'김흥수', '박믾수'}

In [ ]:
import numpy